#main {
   
   position: absolute;
   left: 45%;
}

#header {
    text-align: center;
}

#check-box input{
    display: inline-block;
}

#radio-buttons input{
    display: inline-block;
}

#name-tag label{
    display: block;
    margin: 10px;
}

#name-tag input {
    width: 380px;
    height: 30px;
    border-radius: 10px;
    margin-left: 10px;
}

#dropdown {
    width: 380px;
    height: 30px;
    border-radius: 10px;
    margin-left: 10px;
}



#survey-form {
    background-color: #1b1b32;
    color: white;
    width: 400px;
}

button {
    width: 380px;
    height: 40px; 
    background-color: #37af65;
    margin: 10px;
    color: white;
}

textarea {
    width: 380px;
    height: 50px;
    margin:5px;
}
